div {
	text-align:center;
	}
div#bandeau {
	width:950px;
	height:50px;
	background-color:#0B2B5B;
	}
div#menu {
  float:left;
  width:250px;
  height:950px;
  background-color:#F3E9D6;
  }
div#contenu {
  float:left;
	width:700px;
	height:950px;
	background-color:#F3E9C6;
	}
div#blocnews {
 float:right;
 width:130px;
 height:150px;
 background-color:#F3E9C6;
 }
div#main-text {
	text-align: left;
	}
